body{
            
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
 
  background-color: #191919;
  color: #fff;
  padding-bottom: 50px;

}


.hfont1{
  color: azure;
}


/*This section for menu button*/


/* This section for divider*/

.heading{
text-align: center;
text-transform: uppercase;
font-size: 30px;
height: 30px;
padding-bottom: 20px;
}

.chat a {

color:#FFC200;/* Set text color to white and use !important to ensure it takes precedence */
font-size: 20px;
text-align: center;
padding: 50px;

}
@media (max-width: 1250px) {
.container{
flex-direction: column;
height: 100%;
} }



/* This section for history */
.historycol{

justify-content: center;
align-items: center;

text-align: center;
background-color: #FFC200;

}

.text-hist {
text-align: justify;


padding: 20px;

color: #000;
padding-left: 10%;
padding-right: 10%;

}

.hist-para{

padding-left: 200px;
padding-right: 200px;
font-size: 20px;
text-align: justify;

}

.hist-headline{
padding-top: 50px;
text-align: center;
color: azure;
font-size: 30px;
text-transform: capitalize;                                           
}                                                                   

.space{
  padding: 30px;
}
