body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    background-color: #191919;
}

header {
    text-transform:uppercase;
  
    color:#FFC200;
    text-align: center;
    padding: 1px;
    font-size: 20px;
    position: relative;
    line-height: 1; /* Set line-height to 1 to ensure button height matches the text height */
}



/*This section for menu button*/
button {
    
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px; /* Adjust the margin as needed */
    position: absolute;
    top: 10px;
    left: 10px;
    height: 1em; /* Set the height to match the line-height of the header text */
}

nav {
    
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.08);
    color: #fff;
    height: 100vh;
    width: 45%; /* Set the width to 30% of the screen */
    max-width: 300px; /* Set a maximum width for larger screens */
    z-index: 2; /* Ensure it is above other elements */
}


nav ul {
    font-size: 25px;
    
    list-style-type: none;
    padding: 1;
    margin: 10;
    text-align: left;
}

.buttonlist  a {
    color:#FFC200;/* Set text color to white and use !important to ensure it takes precedence */
    text-decoration: none ; /* Remove underline */
    }
    


nav li {
    margin-bottom: 20px;
    
}


section {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0px;
    margin-top: 0px ;
}



/* This section for video heading*/
.video-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
}

#videoBG {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1250px) {
    .video-section{
      
      height: 50%;
      width: 100%;
    } }




.content {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: left;
    z-index: 2; /* Ensure the content is above the video */
}
   
@media (max-width: 1250px) {
    .content{
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
        color: #fff;
        text-align: left;
        z-index: 2; /* Ensure the content is above the video */
    } }



.quote{
    line-height: 2;
  
}


.highlight{
    font-size: 50px;
}

@media (max-width: 1250px) {
    .highlight{
        font-size: 40px;
    } }

.highlight1{
    font-size: 40px;
}

@media (max-width: 1250px) {
    .highlight1{
        font-size: 30px;
    } }


/* This section scrolling trext*/


  
  .scrolling-text {
    color: #fff; /* Text color */
    margin: 0;
    animation: scrollText 15s linear infinite; /* Use the scrollText animation */
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 20px;
  }
  
  @keyframes scrollText {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(calc(100% + 100vw));
    }
  }


/* this section for category heading*/
.section2{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 20px;
    
   }
#sheadline1{

    font-size: 50px;
    text-transform: uppercase;

}
#scontent1{
    font-size: 30px;
    text-align: justify;
    
}

@media (max-width: 1250px) {
    #sheadline1{
        font-size: 35px;
    } }

    @media (max-width: 1250px) {
        #scontent1{
            font-size: 25px;
            padding-left: 20px;
            padding-right: 20px;

        } }





/* This section for Rice Planter  text*/
.section3 {

    background-color: #FFC200; /* Change the color as desired */
    
}
.headline{
    font-size: 45px;
    text-transform: uppercase;
    font-family: 'Kalam', cursive;
}
.productcontent{
    line-height: 1.5;
    text-align: center;
    font-size: 25px;
    padding-left: 25%;
    padding-right: 25%;
    text-align: justify;
}

@media (max-width: 1250px) {
    .productcontent{
        font-size: 20px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
     
    } }



/*  this section for photo gallery for Rice Planter*/
.gallery-container1 {
    display: flex;
    background-color: #FFC200;
    gap: 20px;
    padding: 20px;
    max-width: 100%;
    height: 50vh;
    margin: auto;
    
}

@media (max-width: 1250px) {
    .gallery-container1{
      flex-direction: column;
      height:1080px;
        width:1080px;
    } }


.gallery-item1 {
    flex: 1 0 25%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px #343434;
    transition: transform 0.2s; /* Add transition for the enlargement effect */
}

.gallery-item1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.gallery-item1:hover {
    transform: scale(1.1);
}

/*  this section for 2nd photo gallery for Rice Planter*/

.gallery-container1-1 {
    display: flex;
    background-color: #FFC200;
    gap: 20px;
    padding: 20px;
    max-width: 100%;
    height: 50vh;
    margin: auto;
    
}

@media (max-width: 1250px) {
    .gallery-container1-1{
      flex-direction: column;
      height:1080px;
        width:1080px;
    } }


.gallery-item1-1 {
    flex: 1 0 25%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px #343434;
    transition: transform 0.2s; /* Add transition for the enlargement effect */
}

.gallery-item1-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.gallery-item1-1:hover {
    transform: scale(1.1);
}



/*  this section for photo gallery for CNC  and laser*/

.gallery-container2 {
    display: flex;
    gap: 20px;
    padding: 20px;
    max-width: 100%;
    height: 50vh;
    margin: auto;
    
}

@media (max-width: 1250px) {
    .gallery-container2{
      flex-direction: column;
       height:1080px;
        width:1080px;
    } }


.gallery-item2 {
    flex: 1 0 25%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px #343434;
    transition: transform 0.2s; /* Add transition for the enlargement effect */
}

.gallery-item2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.gallery-item2:hover {
    transform: scale(1.1);
}



/*  this section for photo gallery for WAll printer*/
.section5 {
    background-color: #FFC200; /* Change the color as desired */   
}

.gallery-container3 {
    display: flex;
    background-color: #FFC200;
    gap: 20px;
    padding: 20px;
    max-width: 100%;
    height: 50vh;
    margin: auto;
    
}

@media (max-width: 1250px) {
    .gallery-container3{
      flex-direction: column;
       height:1080px;
        width:1080px;
    } }


.gallery-item3 {
    flex: 1 0 25%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px #343434;
    transition: transform 0.2s; /* Add transition for the enlargement effect */
}

.gallery-item3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.gallery-item3:hover {
    transform: scale(1.1);
}


/* This Section for agricultural drone*/


.gallery-container4 {
    display: flex;
    
    gap: 20px;
    padding: 20px;
    max-width: 100%;
    height: 50vh;
    margin: auto;
    
}

@media (max-width: 1250px) {
    .gallery-container4{
      flex-direction: column;
       height:1080px;
        width:1080px;
    } }


.gallery-item4 {
    flex: 1 0 25%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px #343434;
    transition: transform 0.2s; /* Add transition for the enlargement effect */
}

.gallery-item4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.gallery-item4:hover {
    transform: scale(1.1);
}




/* This section for 3D Printer */
.section7 {
    background-color: #FFC200; /* Change the color as desired */   
}

.gallery-container5 {
    display: flex;
    background-color: #FFC200;
    gap: 20px;
    padding: 20px;
    max-width: 100%;
    height: 50vh;
    margin: auto;
    
}

@media (max-width: 1250px) {
    .gallery-container5{
      flex-direction: column;
       height:1080px;
        width:1080px;
    } }


.gallery-item5 {
    flex: 1 0 25%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px #343434;
    transition: transform 0.2s; /* Add transition for the enlargement effect */
}

.gallery-item5 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.gallery-item5:hover {
    transform: scale(1.1);
}


/* This section for Power tools */


.gallery-container6 {
    display: flex;
    
    gap: 20px;
    padding: 20px;
    max-width: 100%;
    height: 50vh;
    margin: auto;
    
}

@media (max-width: 1250px) {
    .gallery-container6{
      flex-direction: column;
       height:1080px;
        width:1080px;
    } }


.gallery-item6 {
    flex: 1 0 25%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px #343434;
    transition: transform 0.2s; /* Add transition for the enlargement effect */
}

.gallery-item6 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.gallery-item6:hover {
    transform: scale(1.1);
}



/* This section for avt Bike */
.section9 {
    background-color: #FFC200; /* Change the color as desired */   
}

.gallery-container7 {
    display: flex;
    background-color: #FFC200;
    gap: 20px;
    padding: 20px;
    max-width: 100%;
    height: 50vh;
    margin: auto;
    
}

@media (max-width: 1250px) {
    .gallery-container7{
      flex-direction: column;
       height:1080px;
        width:1080px;
    } }


.gallery-item7 {
    flex: 1 0 25%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px #343434;
    transition: transform 0.2s; /* Add transition for the enlargement effect */
}

.gallery-item7 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.gallery-item7:hover {
    transform: scale(1.1);
}




/* This section for Sports and play*/
.gallery-container8 {
    display: flex;
    
    gap: 20px;
    padding: 20px;
    max-width: 100%;
    height: 50vh;
    margin: auto;
    
}

@media (max-width: 1250px) {
    .gallery-container8{
      flex-direction: column;
       height:1080px;
        width:1080px;
    } }


.gallery-item8 {
    flex: 1 0 25%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px #343434;
    transition: transform 0.2s; /* Add transition for the enlargement effect */
}

.gallery-item8 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.gallery-item8:hover {
    transform: scale(1.1);
}



/* This section for MDF, Acrylic, Plywood and many other raw materials*/
.section11 {
    background-color: #FFC200; /* Change the color as desired */   
}

.gallery-container9 {
    display: flex;
    background-color: #FFC200;
    gap: 20px;
    padding: 20px;
    max-width: 100%;
    height: 50vh;
    margin: auto;
    
}

@media (max-width: 1250px) {
    .gallery-container9{
      flex-direction: column;
       height:1080px;
        width:1080px;
    } }


.gallery-item9 {
    flex: 1 0 25%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px #343434;
    transition: transform 0.2s; /* Add transition for the enlargement effect */
}

.gallery-item9 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.gallery-item9:hover {
    transform: scale(1.1);
}



/* This section for  import photo gallery*/
.gallery-container10 {
    display: flex;
    background-color: #FFC200;
    gap: 20px;
    padding: 20px;
    max-width: 100%;
    height: 50vh;
    margin: auto;
    
}

@media (max-width: 1250px) {
    .gallery-container10{
      flex-direction: column;
      height:1080px;
        width:1080px;
    } }


.gallery-item10 {
    flex: 1 0 25%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px #343434;
    transition: transform 0.2s; /* Add transition for the enlargement effect */
}

.gallery-item10 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.gallery-item10:hover {
    transform: scale(1.1);
}

/*  this section for 2nd photo gallery for Rice Planter*/

.gallery-container10-1 {
    display: flex;
    background-color: #FFC200;
    gap: 20px;
    padding: 20px;
    max-width: 100%;
    height: 50vh;
    margin: auto;
    
}

@media (max-width: 1250px) {
    .gallery-container10-1{
      flex-direction: column;
      height:1080px;
        width:1080px;
    } }


.gallery-item10-1 {
    flex: 1 0 25%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px #343434;
    transition: transform 0.2s; /* Add transition for the enlargement effect */
}

.gallery-item10-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.gallery-item10-1:hover {
    transform: scale(1.1);
}


/* Add more styles for additional sections */

